.all-posts-section {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.all-posts-container {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 12rem;
}

@media (max-width: 767px) {
  .all-posts-container {
    gap: 0.6rem;
    padding: 2rem;
  }
}

@media (max-width: 530px) {
  .all-posts-container {
    gap: 0.4rem;
    padding: 2rem;
  }
}
