.following-posts-section {
  padding: 2rem 0;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

.following-posts-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  width: 100%;
}
