.post-actions-container {
  align-items: flex-start;
  border-top: 0.1rem solid rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  min-height: 10rem;
  padding: 1.6rem 0 0 1.6rem;
}

.post-actions {
  display: flex;
  gap: 1.6rem;
}

.post-actions-button {
  cursor: pointer;
  font-size: 2rem;
  transition: 0.2s;
}

.post-actions-unlike-button {
  color: rgb(237, 73, 86);
}

.fa-heart.post-actions-button:hover {
  transform: scale(1.1);
}
