.comment-settings-container {
  animation: container-fade-in 0.2s;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.comment-settings-button {
  align-items: center;
  display: flex;
  cursor: pointer;
  justify-content: center;
  padding: 1.8rem 16rem;
}

.comment-settings-button.delete {
  color: rgb(237, 73, 86);
}

.comment-settings-divider {
  background-color: rgb(219, 219, 219);
  height: 0.1rem;
  width: 100%;
}
