/* USER LIST STYLES */

.user-list-container {
  animation: container-fade-in 0.2s;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 38rem;
  min-width: 38rem;
}

.user-list-header {
  border-bottom: 0.1rem solid rgb(219, 219, 219);
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  padding: 1.4rem;
  position: relative;
}

.user-list-escape {
  bottom: 0;
  cursor: pointer;
  font-size: 1.6rem;
  position: absolute;
  right: 1.4rem;
  top: 0;
}
.user-list {
  height: 100%;
  overflow-y: scroll;
  padding: 1rem 0;
  position: relative;
}

.user-list-link-container {
  align-items: center;
  display: flex;
  padding: 1rem 2rem;
}

.user-list-link {
  align-items: center;
  color: black;
  display: flex;
  gap: 1.4rem;
  width: 100%;
}

.user-list-link:active {
  color: black;
}

.user-list-user-photo {
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
}

.user-list-user-text {
  display: flex;
  flex-direction: column;
}

.user-list-user-username {
  font-size: 1.3rem;
  font-weight: bold;
}

.user-list-link-settings-button {
  border: 0.1rem solid rgb(219, 219, 219);
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 1.2rem;
}

@media (max-width: 425px) {
  .user-list-container {
    min-height: 30rem;
    min-width: 30rem;
  }
}
