.post-container {
  background-color: black;
  height: 26rem;
  position: relative;
  width: 26rem;
}

.post-content-container {
  cursor: pointer;
  height: 100%;
  position: relative;
  transition: 0.2s;
  width: 100%;
}

.post-content-container:hover {
  opacity: 0.7;
}

.post-content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.post-multiple-icon {
  color: white;
  font-size: 1.8rem;
  position: absolute;
  top: 5%;
  right: 5%;
}

.post-comment-like-count {
  align-items: center;
  color: white;
  display: flex;
  font-size: 2rem;
  gap: 0.8rem;
  opacity: 0;
  position: absolute;
  top: 45%;
}

.post-container:hover > .post-comment-like-count {
  opacity: 1;
}

.post-comment-like-count.like {
  left: 25%;
}

.post-comment-like-count.comment {
  right: 25%;
}

.following-posts-comments-modal-button {
  color: rgb(142, 142, 142);
  cursor: pointer;
  font-size: 1.2rem;
  padding-left: 1.6rem;
  padding-bottom: 1rem;
}

@media (max-width: 1263px) {
  .post-container {
    height: 20rem;
    width: 20rem;
  }
}

@media (max-width: 767px) {
  .post-container {
    height: 16rem;
    width: 16rem;
  }
  .post-comment-like-count {
    font-size: 1.6rem;
  }
}

@media (max-width: 530px) {
  .post-container {
    height: 14rem;
    width: 14rem;
  }
  .post-comment-like-count {
    font-size: 1.2rem;
  }
}
