.create-post-form-container {
  animation: container-fade-in 0.2s;
  background-color: white;
  border-radius: 1rem;
  height: 100%;
  width: 100%;
}

.create-post-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.create-post-form-header {
  border-bottom: 0.1rem solid rgb(219, 219, 219);
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.header-button {
  animation: image-fade-in 0.2s;
  position: absolute;
}

.header-button.back {
  cursor: pointer;
  font-size: 2rem;
  left: 1rem;
  top: 20%;
}

.header-button.submit {
  color: #0095f6;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  right: 1rem;
}

.header-button.submit:active {
  color: #77a7ff;
}

.create-post-input-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.create-post-content-button {
  visibility: hidden;
}

.create-post-image-input {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 20rem;
}

.create-post-image-input-container {
  border-right: 0.1rem solid rgb(219, 219, 219);
  height: 100%;
  width: 60%;
}

.create-post-content-button-label {
  background-color: rgb(0, 149, 246);
  border-radius: 0.4rem;
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.8rem;
  text-align: center;
}

.create-post-photo-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.create-post-photo {
  animation: image-fade-in 0.2s;
  border-bottom-left-radius: 1rem;
  height: 100%;
  left: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.create-post-photo-multiple-button {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 100%;
  bottom: 1rem;
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
  height: 3rem;
  right: 1rem;
  position: absolute;
  transition: 0.2s;
  width: 3rem;
}

.create-post-photo-multiple-button:hover {
  opacity: 0.58;
}

.create-post-photo-multiple-button.clicked {
  background-color: white;
  color: black;
  opacity: 1;
}

.create-post-photo-multiple-menu-container {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  bottom: 6rem;
  display: flex;
  gap: 1rem;
  height: 12rem;
  justify-content: center;
  max-width: 96%;
  padding: 1rem;
  position: absolute;
  right: 2%;
}

.create-post-photo-preview-image-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 1rem;
}

.create-post-photo-preview-image-remove-container {
  position: relative;
  height: 100%;
}

.create-post-photo-preview-image {
  cursor: pointer;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  width: 8rem;
}

.create-post-photo-preview-image.selected {
  opacity: 1;
}

.create-post-photo-preview-image.selected
  + .create-post-photo-preview-image-remove {
  visibility: visible;
  pointer-events: all;
}

.create-post-photo-preview-image-remove {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  height: 2.4rem;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 2.4rem;
  visibility: hidden;
}

.create-post-photo-add-photo-input {
  display: none;
}

.create-post-photo-add-photo-input-icon {
  align-items: center;
  border: 0.1rem solid rgb(219, 219, 219);
  border-radius: 100%;
  color: rgb(219, 219, 219);
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: lighter;
  min-height: 5rem;
  max-height: 5rem;
  justify-content: center;
  min-width: 5rem;
  max-width: 5rem;
}

.create-post-description-input-container {
  width: 40%;
}

.create-post-description-input {
  border: none;
  border-bottom-right-radius: 1rem;
  height: 100%;
  padding: 1rem;
  resize: none;
  width: 100%;
}

@media (max-width: 425px) {
  .create-post-input-container {
    flex-direction: column;
  }

  .create-post-image-input-container {
    border-bottom: 0.1rem solid rgb(219, 219, 219);
    border-right: none;
    height: 80%;
    width: 100%;
  }

  .create-post-description-input {
    padding: 1.5rem;
  }
}
