.delete-post-container {
  animation: container-fade-in 0.2s;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
}

.delete-post-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2.4rem;
}

.delete-post-header-one {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.02rem;
}

.delete-post-header-two {
  color: rgb(168, 168, 168);
  font-size: 1.4rem;
}

.delete-post-button {
  align-items: center;
  border-top: 0.1rem solid rgb(219, 219, 219);
  display: flex;
  cursor: pointer;
  justify-content: center;
  padding: 1.8rem 16rem;
}

.delete-post-button.delete {
  color: rgb(237, 73, 86);
}

@media (max-width: 425px) {
  .delete-post-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2rem;
  }

  .delete-post-button {
    padding: 1.8rem 4rem;
  }
}
